build/*
CMakeFiles/*
server/release/*
server/debug/*
apis/python/fc/__pycache__/*
apis/python/fc/fbs/fc/request/__pycache__/*
apis/python/fc/fbs/fc/response/__pycache__/*
apis/python/fc/fbs/fc/__pycache__/*
apis/python/tests/__pycache__/*
docs/site/*